$color-dark-purple: #2b004f;
$color-purple-1: #4a007f;
$color-purple-2: #6a0dad;
$color-purple-3: #8e24aa;
$color-light-purple-1: #ab47bc;
$color-light-purple-2: #ba68c8;
$color-light-purple-3: #ce93d8;
$color-light-purple-5: #e1bee7;
$color-lightest-purple: #f3e5f5;
$color-text-dark: #2e2e2e;
$color-white-bg: #f4eef6;
