.containerFour {
  width: 90%;
  margin: 4rem auto;
  padding: 4rem 0;

  .linha-textos {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin-bottom: 3rem;
    font-family: 'Montserrat', sans-serif;

    .coluna-esquerda,
    .coluna-direita {
      width: 50%;
    }

    .descricao {
      line-height: 1.6;
      font-size: 1rem;
      color: #333;
      max-width: 500px;
      margin-bottom: 1.5rem;
    }

    .botao-acao {
      display: inline-block;
      padding: 0.7rem 1.8rem;
      background-color: #f4bc33;
      color: #fff;
      border-radius: 2rem;
      text-decoration: none;
      transition: .3s;
      font-family: 'Montserrat', sans-serif;
      letter-spacing: 1px;
      font-weight: 400;
    }

    .subtitulo {
      font-size: 0.8rem;
      letter-spacing: 3px;
      color: #000;
      margin-bottom: 0.5rem;
      display: flex;
      justify-content: flex-end;
      font-family: 'Nunito', sans-serif;
      margin-right: 2rem;
    }

    .titulo {
      font-size: 2.8rem;
      line-height: 1.2;
      font-weight: 400;
      color: #000;
      display: flex;
      justify-content: flex-end;
      font-family: 'Montserrat', sans-serif;
      margin-right: 4rem;
      letter-spacing: 1px;
      transition: .3s ease-in-out;

      @media screen and (min-width: 320px) and (max-width: 991px) {
        margin-right: 0;
        justify-content: flex-start;
      }
    }
  }

  // ------------------- CARDS 2 POR LINHA -------------------
  .grade-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;

    .card {
      position: relative;
      border-radius: 12px;
      overflow: hidden;

      img,
      .next-image {
        border-radius: 12px;
      }

      .card-info {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 1.2rem;
        width: 100%;
        background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
        color: #fff;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        h3 {
          margin: 0;
          font-size: 3rem;
          font-family: 'Nunito', sans-serif;
        }

        p {
          margin: 0.3rem 0 0;
          font-size: 0.9rem;
          opacity: 0.9;
          font-family: 'Montserrat', sans-serif;
        }
      }
    }
  }

  // ------------------ RESPONSIVO -------------------
  @media (max-width: 992px) {
    .linha-textos {
      flex-direction: column;

      .coluna-esquerda,
      .coluna-direita {
        width: 100%;
        text-align: left;
      }
    }
  }

  @media (max-width: 768px) {
    .grade-cards {
      grid-template-columns: 1fr;
    }
  }
}