/* [project]/src/styles/globals.scss.css [app-client] (css) */
:root {
  --background: #eee;
  --foreground: #ededed;
}

html {
  scroll-behavior: smooth;
}

.layout {
  flex-direction: column;
  min-height: 100vh;
  display: flex;
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

.base {
  max-width: 1600px;
}

.grecaptcha-badge {
  width: 70px !important;
  transition: all .3sease !important;
  transition: all .3s !important;
  bottom: 40px !important;
  left: -2px !important;
  overflow: hidden !important;
}

.grecaptcha-badge:hover {
  width: 256px !important;
  transition: all .3s !important;
}

/* [project]/src/partials/Topo/topo.scss.css [app-client] (css) */
header {
  z-index: 999;
  position: relative;
}

header .topo {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  z-index: 3;
  background-color: rgba(45, 122, 158, .31);
  flex-direction: column;
  align-items: center;
  width: 100%;
  display: flex;
  position: absolute;
}

header .topo.fixed {
  transition: all .3s;
  animation: .5s scrollNavbar;
  position: fixed;
  top: 0;
}

@keyframes scrollNavbar {
  from {
    transform: translateY(-100px);
  }

  to {
    transform: translateY(0);
  }
}

header .topo.fixed .topo-contato {
  display: none;
}

header .topo .topo-contato {
  z-index: 2;
  background-color: rgba(70, 174, 206, .396);
  justify-content: center;
  width: 100%;
  padding: 10px 20px;
  display: flex;
}

header .topo .topo-contato .base {
  justify-content: center;
  gap: 50px;
  width: 100%;
  display: flex;
}

@media (max-width: 400px) {
  header .topo .topo-contato .base {
    gap: 20px;
  }
}

header .topo .topo-contato .base a {
  font-family: var(--font-poppins);
  letter-spacing: 1px;
  justify-content: center;
  gap: 5px;
  font-size: 15px;
  transition: all .3s;
  display: flex;
}

header .topo .topo-contato .base a:hover {
  color: #ade8f4;
  transition: all .3s;
}

header .topo .topo-contato .base a svg {
  font-size: 17px;
}

header .topo .topo-menu {
  z-index: 4;
  background-color: rgba(57, 77, 114, .41);
  justify-content: space-around;
  width: 100%;
  padding: 10px 0;
  display: flex;
  box-shadow: 0 5px 20px 2px rgba(30, 64, 80, .337);
}

header .topo .topo-menu .base {
  justify-content: space-around;
  align-items: center;
  width: 100%;
  display: flex;
}

@media (max-width: 768px) {
  header .topo .topo-menu .base a img {
    width: 180px;
    height: 60px;
  }
}

header .topo .topo-menu .base .topo-links {
  font-family: var(--font-frank-text);
  letter-spacing: 1px;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  list-style: none;
  display: flex;
}

@media (max-width: 768px) {
  header .topo .topo-menu .base .topo-links {
    display: none;
  }
}

header .topo .topo-menu .base .topo-links .topo-item a {
  padding: 5px 10px;
  font-size: 20px;
  transition: all .3s;
}

header .topo .topo-menu .base .topo-links .topo-item a:hover {
  color: #ade8f4;
  transition: all .3s;
}

header .menu-mobile {
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  z-index: 2;
  background-color: rgba(57, 77, 114, .59);
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  transition: all .3s;
  display: flex;
  position: fixed;
  top: -100vh;
}

@media (min-width: 769px) {
  header .menu-mobile {
    display: none;
  }
}

header .menu-mobile .topo-links-mobile {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  display: flex;
}

header .menu-mobile .topo-links-mobile li a {
  font-size: 23px;
  font-family: var(--font-josefin);
  font-weight: 600;
}

header .menu-mobile.open {
  top: 0;
}

header .menu-mobile.open .topo-menu {
  z-index: 2;
  background-color: rgba(37, 37, 37, .247);
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100vh;
  padding: 10px 20px;
  display: flex;
  box-shadow: 0 5px 20px 2px rgba(0, 0, 0, .255);
}

/* [project]/src/components/HamburgerMenu/HamburgerMenu.module.scss.module.css [app-client] (css) */
.HamburgerMenu-module-scss-module__IyJunq__nav_icon4 {
  -o-transition: .2s ease-in-out;
  cursor: pointer;
  width: 30px;
  height: 20px;
  transition: all .2s ease-in-out;
  position: relative;
  transform: rotate(0);
}

@media (min-width: 769px) {
  .HamburgerMenu-module-scss-module__IyJunq__nav_icon4 {
    display: none;
  }
}

.HamburgerMenu-module-scss-module__IyJunq__nav_icon4 span {
  opacity: 1;
  -o-transition: .2s ease-in-out;
  background: #fff;
  border-radius: 9px;
  width: 100%;
  height: 3px;
  transition: all .2s ease-in-out;
  display: block;
  position: absolute;
  left: 0;
  transform: rotate(0);
}

.HamburgerMenu-module-scss-module__IyJunq__nav_icon4 span:first-child {
  transform-origin: 0;
  top: 0;
}

.HamburgerMenu-module-scss-module__IyJunq__nav_icon4 span:nth-child(2) {
  transform-origin: 0;
  top: 10px;
}

.HamburgerMenu-module-scss-module__IyJunq__nav_icon4 span:nth-child(3) {
  transform-origin: 0;
  top: 21px;
}

.HamburgerMenu-module-scss-module__IyJunq__nav_icon4.HamburgerMenu-module-scss-module__IyJunq__open span:first-child {
  top: 0;
  left: 1px;
  transform: rotate(45deg);
}

.HamburgerMenu-module-scss-module__IyJunq__nav_icon4.HamburgerMenu-module-scss-module__IyJunq__open span:nth-child(2) {
  opacity: 0;
  width: 0%;
}

.HamburgerMenu-module-scss-module__IyJunq__nav_icon4.HamburgerMenu-module-scss-module__IyJunq__open span:nth-child(3) {
  top: 22px;
  left: 1px;
  transform: rotate(-45deg);
}

/* [project]/src/partials/Rodape/rodape.scss.css [app-client] (css) */
footer {
  color: #000;
  background-color: #0077b6;
}

footer .top {
  justify-content: space-between;
  align-items: stretch;
  max-width: 85%;
  margin: 0 auto;
  padding: 70px 0;
  line-height: 30px;
  display: flex;
}

@media (max-width: 768px) {
  footer .top .menuFooter ul li, footer .top .contactFooter ul li {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: flex;
  }
}

footer .top .contactFooter {
  flex-direction: column;
  display: flex;
}

footer .top .contactFooter ul li {
  color: #fff;
  align-items: center;
  gap: 5px;
  display: flex;
}

footer .top li a {
  font-family: var(--font-poppins);
  color: #fff;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  position: relative;
}

footer .top li a:before {
  content: "";
  transform-origin: 0;
  background-color: #fff;
  width: 100%;
  height: 2px;
  transition: all .4s;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
}

footer .top li a:hover:before {
  transform: scaleX(1);
}

@media (max-width: 768px) {
  footer .top li a {
    justify-content: center;
  }
}

footer .top h2 {
  font-size: 24px;
  font-weight: 800;
  font-family: var(--font-josefin);
  color: #90e0ef;
}

footer .top .logoFooter {
  justify-content: center;
  align-items: center;
  display: flex;
}

@media (max-width: 1024px) {
  footer .top .logoFooter {
    width: 100%;
    padding: 0 0 31px;
  }
}

footer .top .logoFooter img {
  width: 250px;
}

@media (max-width: 1024px) {
  footer .top {
    flex-wrap: wrap;
    justify-items: center;
    display: flex;
  }
}

@media (max-width: 768px) {
  footer .top {
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    display: flex;
  }
}

footer .footerSelos {
  flex-wrap: wrap;
  place-content: center;
  align-items: center;
  display: flex;
}

footer .footerSelos .logoYaslip {
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 200px;
  display: flex;
}

footer .footerSelos .logoYaslip a {
  width: 100%;
}

footer .footerSelos .logoYaslip object {
  width: 100px;
  height: 160px;
}

@media (max-width: 768px) {
  footer .footerSelos .logoYaslip {
    width: 100%;
  }

  footer .footerSelos .logoYaslip img {
    width: 130px;
  }
}

footer .footerSelos ul {
  gap: 10px;
  display: flex;
}

footer .footerSelos ul a:before {
  height: 0;
}

footer .bottomRowFooter {
  text-align: center;
  color: #fff;
  font-family: var(--font-josefin);
  background-color: #0096c7;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
  display: flex;
}

@media (max-width: 768px) {
  footer .bottomRowFooter {
    flex-direction: column;
    gap: 20px;
    padding: 20px 0 79px;
  }
}

footer .bottomRowFooter img {
  width: 42px;
  height: 60px;
}

.whatsapp-animate-circulo-pulse, .whatsapp-btn-bg {
  border-radius: 100%;
}

.animated.infinite {
  animation-iteration-count: infinite;
}

.zoomIn {
  animation-name: zoomIn;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.whatsapp-btn {
  z-index: 2;
  display: block;
}

@media (max-width: 768px) {
  .whatsapp-btn {
    display: none !important;
  }
}

.whatsapp-animate-circulo-pulse {
  opacity: .1;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #43b91e;
  border-radius: 100%;
  width: 90px;
  height: 90px;
  position: fixed;
  bottom: 96px;
  right: 15px;
}

.whatsapp-btn-config {
  opacity: 1;
  -o-transition: all .2s ease-in-out;
  transform-origin: 50%;
  z-index: 999999;
  background: rgba(30, 30, 30, .1) url("/selos/WhatsAppButton.webp") center / 100% no-repeat;
  border-radius: 100%;
  width: 47px;
  height: 47px;
  transition: all .2s ease-in-out;
  position: fixed;
  bottom: 118px;
  right: 37px;
}

.whatsapp-btn-bg {
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .5s;
  z-index: 999999;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 100%;
  width: 60px;
  height: 60px;
  transition: all .5s;
  position: fixed;
  bottom: 111px;
  right: 31px;
  opacity: .4 !important;
}

.whatsapp-btn-bg, .whatsapp-btn-bg, .whatsapp-btn-config {
  background-color: #43b91e;
}

.tada {
  animation-name: tada;
}

@keyframes tada {
  from, to {
    transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    transform: scale3d(.9, .9, .9)rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    transform: scale3d(1.1, 1.1, 1.1)rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    transform: scale3d(1.1, 1.1, 1.1)rotate3d(0, 0, 1, -3deg);
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

/* [project]/src/components/ScrollToTop/ScrollToTop.scss.css [app-client] (css) */
.voltar-para-o-topo {
  z-index: 99;
  background-color: #ececec;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  transition: all .3s;
  display: flex;
  position: fixed;
  bottom: 35px;
  right: 38px;
  box-shadow: inset 0 0 0 3px rgba(179, 179, 179, .57);
}

.voltar-para-o-topo svg {
  color: #227fb4;
  transition: all .3s;
}

.voltar-para-o-topo:hover {
  background-color: #227fb4;
  transition: all .3s;
  box-shadow: inset 0 0 0 3px rgba(189, 189, 189, .44);
}

.voltar-para-o-topo:hover svg {
  color: #fff;
}

@media (max-width: 768px) {
  .voltar-para-o-topo {
    display: none !important;
  }
}

/* [project]/src/partials/RodapeMobile/rodapeMobile.scss.css [app-client] (css) */
.rodape-mobile {
  color: #fff;
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  z-index: 5;
  background-color: rgba(57, 77, 114, .41);
  width: 100%;
  height: auto;
  padding: 5px 0;
  position: fixed;
  bottom: 0;
  box-shadow: 0 5px 20px 2px rgba(48, 59, 65, .72);
}

.rodape-mobile .icones-rodape {
  justify-content: space-around;
  display: flex;
}

.rodape-mobile .icones-rodape a {
  margin: 5px 20px;
}

.rodape-mobile .icones-rodape .icone {
  color: #fff;
  border-radius: 55px;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 23px;
  display: flex;
}

.rodape-mobile .icones-rodape .phone {
  background: #558ada;
}

.rodape-mobile .icones-rodape .envelope {
  background: red;
}

.rodape-mobile .icones-rodape .whatsapp {
  background-color: #49ca59;
}

.rodape-mobile .icones-rodape .voltar-para-o-topo-mobile {
  background-color: #f5f5f5;
}

.rodape-mobile .icones-rodape .voltar-para-o-topo-mobile svg {
  color: #000;
}

/* [project]/src/styles/formulario.scss.css [app-client] (css) */
.contato-form {
  color: #000;
  width: -moz-fit-content;
  width: fit-content;
  font-family: var(--font-open-sans);
  flex-direction: column;
  gap: 20px;
  display: flex;
}

@media (max-width: 840px) {
  .contato-form {
    width: 100%;
  }
}

.contato-form .box-input {
  gap: 10px;
  display: flex;
}

.contato-form .input {
  flex-direction: column;
  gap: 5px;
  display: flex;
}

@media (max-width: 840px) {
  .contato-form .input {
    width: 100%;
  }
}

.contato-form .input label {
  margin-left: 0;
  font-size: 1rem;
  font-weight: 500;
}

@media (max-width: 840px) {
  .contato-form .input label {
    font-size: .8rem;
  }
}

.contato-form .input input, .contato-form .input select, .contato-form .input textarea {
  border: 1px solid #afafaf;
  border-radius: 5px;
  width: 100%;
  padding: 10px 20px;
  transition: all .3s;
}

@media (max-width: 400px) {
  .contato-form .input input, .contato-form .input select, .contato-form .input textarea {
    font-size: .8rem;
  }
}

.contato-form .input input:focus, .contato-form .input select:focus, .contato-form .input textarea:focus {
  border: 1px solid #747474;
  outline: none;
  transition: all .3s;
}

.contato-form .input select {
  padding: 6.5px 15px;
}

.contato-form .input textarea {
  resize: none;
  width: 100%;
  height: 150px;
  max-height: 150px;
}

.contato-form .btn-submit {
  color: #fff;
  cursor: pointer;
  background-color: #0077b6;
  border: none;
  border-radius: 5px;
  padding: 15px 20px;
  font-size: 1.1rem;
  font-weight: 500;
  transition: all .3s;
}

.contato-form .btn-submit:hover {
  color: #ececec;
  background-color: #0096c7;
  transition: all .3s;
}

.form-success {
  color: #949494;
  border-radius: 10px;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px 10px;
  font-size: .9em;
  font-weight: 500;
}

.contato-form-included {
  color: #000;
  width: -moz-fit-content;
  width: fit-content;
  font-family: var(--font-open-sans);
  flex-direction: column;
  gap: 20px;
  display: flex;
}

@media (max-width: 840px) {
  .contato-form-included {
    width: 100%;
  }
}

.contato-form-included .box-input {
  gap: 10px;
  display: flex;
}

@media (max-width: 530px) {
  .contato-form-included .box-input {
    flex-direction: column;
  }
}

.contato-form-included .input {
  flex-direction: column;
  gap: 5px;
  display: flex;
}

@media (max-width: 840px) {
  .contato-form-included .input {
    width: 100%;
  }
}

.contato-form-included .input label {
  margin-left: 0;
  font-size: 1rem;
  font-weight: 500;
}

@media (max-width: 840px) {
  .contato-form-included .input label {
    font-size: 1rem;
  }
}

.contato-form-included .input input, .contato-form-included .input select, .contato-form-included .input textarea {
  background-color: #eee;
  border: 1px solid #afafaf;
  border-radius: 5px;
  width: 100%;
  padding: 10px 20px;
  transition: all .3s;
}

@media (max-width: 400px) {
  .contato-form-included .input input, .contato-form-included .input select, .contato-form-included .input textarea {
    font-size: .9rem;
  }
}

.contato-form-included .input input:focus, .contato-form-included .input select:focus, .contato-form-included .input textarea:focus {
  border: 1px solid #747474;
  outline: none;
  transition: all .3s;
}

.contato-form-included .input select {
  padding: 6.5px 15px;
}

.contato-form-included .input textarea {
  resize: none;
  width: 100%;
  height: 150px;
  max-height: 150px;
}

.contato-form-included .btn-submit {
  color: #fff;
  cursor: pointer;
  background-color: #0077b6;
  border: none;
  border-radius: 5px;
  padding: 15px 20px;
  font-size: 1.1rem;
  font-weight: 500;
  transition: all .3s;
}

.contato-form-included .btn-submit:hover {
  color: #ececec;
  background-color: #0096c7;
  transition: all .3s;
}

/* [project]/src/styles/index.scss.css [app-client] (css) */
.title-main {
  color: #0077b6;
  font-family: var(--font-open-sans);
  align-items: center;
  margin-left: 80px;
  font-size: 14px;
  display: flex;
  position: relative;
}

.title-main:before {
  content: "";
  background-color: #0077b6;
  width: 60px;
  height: 2px;
  position: absolute;
  left: -70px;
}

@media (max-width: 500px) {
  .title-main:before {
    width: 30px;
    left: -40px;
  }

  .title-main {
    margin-left: 50px;
  }
}

.span-content {
  font-family: var(--font-open-sans);
  align-items: center;
  padding-left: 30px;
  font-size: .9rem;
  font-weight: 500;
  display: flex;
  position: relative;
}

.span-content:before {
  content: "";
  background-color: #0096c7;
  width: 3px;
  height: 90%;
  position: absolute;
  left: 0;
}

@media (max-width: 500px) {
  .span-content:before {
    left: -10px;
  }

  .span-content {
    text-align: justify;
    padding-left: 0;
  }
}

.banner {
  z-index: 2;
  position: relative;
}

.banner .text-banner {
  z-index: 3;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 30px;
  display: flex;
  position: absolute;
}

.banner .text-banner h1 {
  font-family: var(--font-frank-text);
  text-align: center;
  color: #90e0ef;
  margin: 1rem;
  font-size: 6rem;
}

@media (max-width: 1024px) {
  .banner .text-banner h1 {
    font-size: 4rem;
  }
}

@media (max-width: 490px) {
  .banner .text-banner h1 {
    font-size: 2.7rem;
  }
}

.banner .text-banner h1 span {
  color: #fff;
}

.banner .text-banner p {
  text-align: center;
  max-width: 900px;
  line-height: 20px;
  font-family: var(--font-josefin);
}

.banner video {
  object-fit: cover;
  width: 100%;
  height: 100vh;
  min-height: 724px;
  display: block;
}

.about {
  background-color: #ececec;
  justify-content: center;
  align-items: center;
  padding: 100px 30px 150px;
  display: flex;
}

@media (max-width: 1312px) {
  .about {
    padding: 50px 15px;
  }
}

.about .base {
  color: #2b2b2b;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  display: flex;
}

.about .base .box {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

@media (max-width: 924px) {
  .about .base .box {
    flex-direction: column;
    gap: 50px;
  }
}

@media (max-width: 1312px) {
  .about .base .box {
    justify-content: space-evenly;
  }
}

.about .base .box .left {
  flex-direction: column;
  gap: 20px;
  width: 40%;
  display: flex;
}

@media (max-width: 924px) {
  .about .base .box .left {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .about .base .box .left {
    justify-content: center;
    align-items: center;
  }
}

.about .base .box .left h2 {
  font-family: var(--font-frank-text);
  font-size: 4rem;
  line-height: 4rem;
}

@media (max-width: 1024px) {
  .about .base .box .left h2 {
    font-size: 3rem;
    line-height: 3rem;
  }
}

@media (max-width: 500px) {
  .about .base .box .left h2 {
    text-align: center;
  }
}

@media (max-width: 490px) {
  .about .base .box .left h2 {
    font-size: 2rem;
    line-height: 2rem;
  }
}

.about .base .box .left h2 span {
  color: #0077b6;
}

.about .base .box .left p {
  font-family: var(--font-josefin);
}

@media (max-width: 500px) {
  .about .base .box .left p {
    text-align: center;
  }
}

.about .base .box .right {
  justify-content: flex-end;
  align-items: flex-end;
  width: 40%;
  height: 500px;
  display: flex;
}

@media (max-width: 1312px) {
  .about .base .box .right {
    margin-bottom: 50px;
  }
}

@media (max-width: 924px) {
  .about .base .box .right {
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
  }
}

.about .base .box .right .galleryBox {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}

@media (max-width: 945px) {
  .about .base .box .right .galleryBox {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    display: flex;
  }
}

.about .base .box .right .galleryBox .galleryImage {
  border: 3px solid #fff;
  width: 100%;
  height: 100%;
  box-shadow: 5px 5px 20px 1px rgba(104, 104, 104, .33);
}

.about .base .box .right .galleryBox .galleryImage:first-child {
  z-index: 4;
  max-width: 300px;
  height: 500px;
  position: absolute;
  right: 0;
}

@media (max-width: 945px) {
  .about .base .box .right .galleryBox .galleryImage:first-child {
    display: none;
  }
}

.about .base .box .right .galleryBox .galleryImage:nth-child(2) {
  z-index: 2;
  max-width: 500px;
  height: 400px;
  position: absolute;
  top: 50px;
  left: 20px;
}

@media (max-width: 945px) {
  .about .base .box .right .galleryBox .galleryImage:nth-child(2) {
    position: initial;
    width: 90%;
    max-width: 100%;
    height: -moz-fit-content;
    height: fit-content;
  }
}

.about .base .box .right .galleryBox .galleryImage:nth-child(3) {
  z-index: 4;
  max-width: 400px;
  height: 300px;
  position: absolute;
  bottom: -39px;
  left: 0;
}

@media (max-width: 945px) {
  .about .base .box .right .galleryBox .galleryImage:nth-child(3) {
    position: initial;
    width: 90%;
    max-width: 100%;
    height: -moz-fit-content;
    height: fit-content;
  }
}

.video {
  background-color: #caf0f8;
  justify-content: center;
  padding: 50px 20px;
  display: flex;
}

.video video {
  width: 100%;
  max-width: 800px;
  position: relative;
  box-shadow: 5px 5px 20px 2px rgba(0, 0, 0, .31);
}

.services {
  background-color: #0077b6;
  justify-content: center;
  align-items: center;
  display: flex;
}

.services .base {
  width: 100%;
  font-family: var(--font-josefin);
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  padding: 50px 0;
  display: flex;
}

.services .base .service-item {
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 150px;
  display: flex;
}

.services .base .service-item svg {
  color: #90e0ef;
  font-size: 80px;
}

.services .base .service-item p {
  font-size: 20px;
}

.grid-gallery {
  background-color: #ececec;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  display: flex;
}

.grid-gallery .base {
  grid-template-areas: "item1 item2 item2"
                       "item1 item3 item4";
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 70vh;
  min-height: 600px;
  display: grid;
}

@media (max-width: 1280px) {
  .grid-gallery .base {
    flex-direction: column;
    display: flex;
  }
}

.grid-gallery .base .item-1 {
  background-image: url("../../public/casas/5.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  grid-area: item1;
  width: 600px;
  height: 100%;
}

.grid-gallery .base .item-2 {
  background-image: url("../../public/casas/6.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  grid-area: item2;
  width: 600px;
}

.grid-gallery .base .item-3 {
  background-image: url("../../public/casas/7.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  grid-area: item3;
}

.grid-gallery .base .item-4 {
  background-image: url("../../public/casas/8.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  grid-area: item4;
}

.grid-gallery .base .gallery-item {
  border-radius: 20px;
  justify-content: flex-start;
  align-items: flex-end;
  height: 100%;
  transition: all .3s;
  display: flex;
  overflow: hidden;
  box-shadow: 2px 5px 10px rgba(6, 6, 6, .23);
}

@media (max-width: 1280px) {
  .grid-gallery .base .gallery-item {
    width: 90% !important;
  }
}

.grid-gallery .base .gallery-item p {
  width: 100%;
  font-size: 25px;
  font-family: var(--font-open-sans);
  z-index: 2;
  background: linear-gradient(0deg, rgba(0, 0, 0, .9) 0%, rgba(0, 0, 0, 0) 100%);
  padding: 20px;
  font-weight: 600;
  transition: all .3s ease-in;
  position: relative;
}

.grid-gallery .base .item-3, .grid-gallery .base .item-4 {
  position: relative;
}

.grid-gallery .base .item-3:before, .grid-gallery .base .item-4:before {
  content: "Ver mais";
  font-family: var(--font-open-sans);
  opacity: 1;
  text-transform: uppercase;
  background-color: rgba(27, 27, 27, .65);
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 20px;
  font-weight: 700;
  transition: all .3s;
  display: flex;
  position: absolute;
  bottom: -100vh;
}

.grid-gallery .base .item-3:hover:before, .grid-gallery .base .item-4:hover:before {
  border-radius: 0;
  transition: all .5s;
  bottom: 0;
}

.sliderHouses {
  background-color: #0096c7;
  position: relative;
}

.sliderHouses .text-banner {
  z-index: 3;
  background-color: rgba(0, 0, 0, .57);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 30px;
  display: flex;
  position: absolute;
}

@media (max-width: 400px) {
  .sliderHouses .text-banner {
    height: 92%;
  }
}

.sliderHouses .text-banner h2 {
  font-family: var(--font-frank-text);
  text-align: center;
  color: #90e0ef;
  margin: 1rem;
  font-size: 6rem;
}

@media (max-width: 1024px) {
  .sliderHouses .text-banner h2 {
    font-size: 4rem;
  }
}

@media (max-width: 490px) {
  .sliderHouses .text-banner h2 {
    font-size: 2.7rem;
  }
}

.sliderHouses .text-banner h2 span {
  color: #fff;
}

.sliderHouses .text-banner p {
  text-align: center;
  max-width: 900px;
  line-height: 20px;
  font-family: var(--font-josefin);
}

.sliderHouses .text {
  z-index: 2;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-top: 100px;
  display: flex;
  position: absolute;
}

.sliderHouses .text h1 {
  font-size: 4rem;
  font-family: var(--font-josefin);
}

.sliderHouses .slick-slider {
  height: 100vh;
  min-height: 600px;
  display: flex;
}

.sliderHouses .slick-slider .slick-track {
  justify-content: center;
  align-items: center;
  height: 100%;
  display: flex !important;
}

.sliderHouses .slick-slider .slick-slide {
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
}

.sliderHouses .slick-slider .slick-slide div {
  width: 100%;
  height: 100%;
}

.sliderHouses .slick-slider .slick-slide div .banner-slick {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sliderHouses .slick-slider .slick-slide div .banner-1 {
  background-image: url("/casas/5.jpg");
}

.sliderHouses .slick-slider .slick-slide div .banner-2 {
  background-image: url("/casas/2.jpg");
}

.sliderHouses .slick-slider .slick-slide div .banner-3 {
  background-image: url("/casas/3.jpg");
}

.sliderHouses .slick-slider .slick-slide div .banner-4 {
  background-image: url("/casas/8.jpg");
}

.sliderHouses .slick-slider .slick-list {
  width: 100%;
}

.container {
  background-color: #eee;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 50px 20px;
  display: flex;
}

.container .base {
  flex-direction: column;
  gap: 100px;
  width: 100%;
  display: flex;
}

.container .base .box-casa-1, .container .base .box-casa-2 {
  flex-direction: column;
  gap: 50px;
  display: flex;
}

.container .base .box-casa-1 .casa-1, .container .base .box-casa-1 .casa-2, .container .base .box-casa-2 .casa-1, .container .base .box-casa-2 .casa-2 {
  gap: 30px;
  display: flex;
}

@media (max-width: 1190px) {
  .container .base .box-casa-1 .casa-1, .container .base .box-casa-1 .casa-2, .container .base .box-casa-2 .casa-1, .container .base .box-casa-2 .casa-2 {
    flex-wrap: wrap;
  }
}

.container .base .box-casa-1 .casa-1 .left img, .container .base .box-casa-1 .casa-2 .left img, .container .base .box-casa-2 .casa-1 .left img, .container .base .box-casa-2 .casa-2 .left img {
  border-radius: 20px;
  max-width: 500px;
  height: 100%;
  max-height: 500px;
}

@media (max-width: 1190px) {
  .container .base .box-casa-1 .casa-1 .left img, .container .base .box-casa-1 .casa-2 .left img, .container .base .box-casa-2 .casa-1 .left img, .container .base .box-casa-2 .casa-2 .left img {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .container .base .box-casa-1 .casa-1 .left img, .container .base .box-casa-1 .casa-2 .left img, .container .base .box-casa-2 .casa-1 .left img, .container .base .box-casa-2 .casa-2 .left img {
    width: 100%;
  }
}

.container .base .box-casa-1 .casa-1 .right, .container .base .box-casa-1 .casa-2 .right, .container .base .box-casa-2 .casa-1 .right, .container .base .box-casa-2 .casa-2 .right {
  flex-direction: column;
  gap: 10px;
  display: flex;
}

.container .base .box-casa-1 .casa-1 .right .casa-title, .container .base .box-casa-1 .casa-2 .right .casa-title, .container .base .box-casa-2 .casa-1 .right .casa-title, .container .base .box-casa-2 .casa-2 .right .casa-title {
  color: #0096c7;
  font-family: var(--font-josefin);
  font-size: 30px;
}

.container .base .box-casa-1 .casa-1 .right .casa-location, .container .base .box-casa-1 .casa-2 .right .casa-location, .container .base .box-casa-2 .casa-1 .right .casa-location, .container .base .box-casa-2 .casa-2 .right .casa-location {
  font-family: var(--font-josefin);
  color: #00b4d8;
  align-items: center;
  gap: 3px;
  font-size: 17px;
  font-weight: 500;
  display: flex;
}

@media (max-width: 610px) {
  .container .base .box-casa-1 .casa-1 .right .casa-location, .container .base .box-casa-1 .casa-2 .right .casa-location, .container .base .box-casa-2 .casa-1 .right .casa-location, .container .base .box-casa-2 .casa-2 .right .casa-location {
    flex-direction: column;
    align-items: flex-start;
  }
}

.container .base .box-casa-1 .casa-1 .right .casa-location span, .container .base .box-casa-1 .casa-2 .right .casa-location span, .container .base .box-casa-2 .casa-1 .right .casa-location span, .container .base .box-casa-2 .casa-2 .right .casa-location span {
  font-weight: 800;
}

.container .base .box-casa-1 .casa-1 .right .casa-location svg, .container .base .box-casa-1 .casa-2 .right .casa-location svg, .container .base .box-casa-2 .casa-1 .right .casa-location svg, .container .base .box-casa-2 .casa-2 .right .casa-location svg {
  margin-bottom: 5px;
}

.container .base .box-casa-1 .casa-1 .right .casa-description, .container .base .box-casa-1 .casa-2 .right .casa-description, .container .base .box-casa-2 .casa-1 .right .casa-description, .container .base .box-casa-2 .casa-2 .right .casa-description {
  color: #363636;
  font-family: var(--font-poppins);
  flex-direction: column;
  gap: 15px;
  font-size: 17px;
  font-weight: 400;
  display: flex;
}

@media (max-width: 610px) {
  .container .base .box-casa-1 .casa-1 .right .casa-description, .container .base .box-casa-1 .casa-2 .right .casa-description, .container .base .box-casa-2 .casa-1 .right .casa-description, .container .base .box-casa-2 .casa-2 .right .casa-description {
    text-align: justify;
  }
}

.container .base .box-casa-1 .imagens, .container .base .box-casa-2 .imagens {
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  display: flex;
}

@media (max-width: 1470px) {
  .container .base .box-casa-1 .imagens, .container .base .box-casa-2 .imagens {
    justify-content: flex-start;
    gap: 30px;
  }
}

@media (max-width: 889px) {
  .container .base .box-casa-1 .imagens, .container .base .box-casa-2 .imagens {
    justify-content: space-between;
    width: 100%;
  }
}

.container .base .box-casa-1 .imagens img, .container .base .box-casa-2 .imagens img {
  object-fit: cover;
  width: 350px;
  height: 350px;
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, .21);
}

@media (max-width: 1470px) {
  .container .base .box-casa-1 .imagens img, .container .base .box-casa-2 .imagens img {
    width: 40%;
    height: 400px;
  }
}

@media (max-width: 889px) {
  .container .base .box-casa-1 .imagens img, .container .base .box-casa-2 .imagens img {
    justify-content: space-between;
    width: 100%;
  }
}

.box-galeria {
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 50px 20px;
  display: flex;
}

.box-galeria .base {
  flex-flow: column wrap;
  justify-content: flex-start;
  gap: 30px;
  width: 100%;
  display: flex;
}

.box-galeria .base .categorias {
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  display: flex;
}

.box-galeria .base .categorias .title {
  color: #0077b6;
  font-family: var(--font-josefin);
  font-size: 25px;
}

.box-galeria .base .categorias .title-2 {
  color: #0077b6;
  font-family: var(--font-josefin);
  font-size: 17px;
}

.box-galeria .base .categorias .botoes {
  flex-wrap: wrap;
  gap: 10px;
  display: flex;
}

@media (max-width: 840px) {
  .box-galeria .base .categorias .botoes {
    justify-content: center;
  }
}

.box-galeria .base .categorias .botoes button {
  text-align: start;
  color: #fff;
  cursor: pointer;
  background-color: #0096c7;
  border: 1px solid #0096c7;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
  font-size: 20px;
  transition: all .3s;
  display: flex;
}

.box-galeria .base .categorias .botoes button:hover {
  color: #0096c7;
  background-color: #fff;
  border: 1px solid #0096c7;
  transition: all .3s;
}

.box-galeria .base .categorias .botoes button.actived {
  background-color: #363636;
}

.box-galeria .base .categorias .botoes button svg {
  font-size: 25px;
}

@media (max-width: 840px) {
  .box-galeria .base .categorias .botoes button {
    width: 280px;
    padding: 5px 10px;
    font-size: 15px;
  }
}

.box-galeria .base .categorias-2 {
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  display: flex;
}

.box-galeria .base .categorias-2 .title {
  color: #0077b6;
  font-family: var(--font-josefin);
  font-size: 25px;
}

.box-galeria .base .categorias-2 .title-2 {
  color: #0077b6;
  font-family: var(--font-josefin);
  font-size: 17px;
}

.box-galeria .base .categorias-2 .botoes {
  flex-wrap: wrap;
  gap: 10px;
  display: flex;
}

.box-galeria .base .categorias-2 .botoes button {
  color: #fff;
  cursor: pointer;
  background-color: #0096c7;
  border: 1px solid #0096c7;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 5px 10px;
  font-size: 18px;
  transition: all .3s;
  display: flex;
}

.box-galeria .base .categorias-2 .botoes button:hover {
  color: #0096c7;
  background-color: #fff;
  border: 1px solid #0096c7;
  transition: all .3s;
}

.box-galeria .base .categorias-2 .botoes button.actived {
  background-color: #363636;
}

@media (max-width: 840px) {
  .box-galeria .base .categorias-2 .botoes button {
    padding: 5px 10px;
    font-size: 12px;
  }
}

.box-galeria .base .outros {
  flex-direction: column;
  gap: 30px;
  display: flex;
}

.box-galeria .base .outros .content {
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  width: 100%;
  display: flex;
}

.box-galeria .base .outros .content img {
  object-fit: cover;
}

.box-galeria .base .outros .content video {
  border-radius: 10px;
  width: 270px;
  box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, .267);
}

@media (max-width: 546px) {
  .box-galeria .base .outros .content video {
    width: 100%;
  }
}

@media (max-width: 840px) {
  .box-galeria .base .outros .content {
    justify-content: center;
  }
}

.box-galeria .base .outros .content-imagens, .box-galeria .base .outros .content-videos {
  flex-wrap: wrap;
  align-items: center;
  gap: 50px;
  width: 100%;
  display: flex;
}

.box-galeria .base .outros .content-imagens video, .box-galeria .base .outros .content-videos video {
  border-radius: 10px;
  width: 270px;
  box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, .267);
}

.box-galeria .base .outros .content-imagens img, .box-galeria .base .outros .content-videos img {
  object-fit: cover;
  cursor: pointer;
}

@media (max-width: 546px) {
  .box-galeria .base .outros .content-imagens img, .box-galeria .base .outros .content-videos img {
    width: 100%;
  }
}

@media (max-width: 840px) {
  .box-galeria .base .outros .content-imagens, .box-galeria .base .outros .content-videos {
    justify-content: center;
  }
}

.container-contato {
  width: 100%;
  font-family: var(--font-open-sans);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.container-contato .base {
  justify-content: space-around;
  gap: 50px;
  width: 100%;
  padding: 50px 20px;
  display: flex;
}

@media (max-width: 840px) {
  .container-contato .base {
    flex-wrap: wrap;
  }
}

.container-contato .base .box-title {
  flex-direction: column;
  display: flex;
}

.container-contato .base .box-title .title {
  font-family: var(--font-frank-text);
  color: #0096c7;
  margin-bottom: 10px;
  font-size: 3rem;
}

@media (max-width: 768px) {
  .container-contato .base .box-title .title {
    font-size: 2rem;
  }
}

.container-contato .base .box-title .description {
  color: #363636;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.3rem;
}

.container-contato .base .box-details {
  color: #000;
  flex-direction: column;
  gap: 10px;
  display: flex;
}

@media (max-width: 840px) {
  .container-contato .base .box-details {
    width: 100%;
  }
}

.container-contato .base .box-details .contact {
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  display: flex;
}

.container-contato .base .box-details .contact a {
  color: #3f3f3f;
  align-items: center;
  gap: 10px;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 0;
  font-size: 1.2rem;
  display: flex;
}

.container-contato .base .box-details .contact a svg {
  color: #2b2b2b;
  font-size: 23px;
  transition: all .3s;
}

.container-contato .base .box-details .contact a:hover {
  color: #2d88c5;
  transition: all .3s;
}

.container-contato .base .box-details .contact a:hover svg {
  color: #429df3;
  transition: all .3s;
}

.container-contato iframe {
  border: none;
  width: 100%;
  height: 500px;
  box-shadow: 10px 10px 20px 5px rgba(43, 43, 43, .384);
}

.included-form {
  width: 100%;
  font-family: var(--font-open-sans);
  background-color: #fff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.included-form .base {
  justify-content: space-around;
  gap: 50px;
  width: 100%;
  padding: 50px 20px;
  display: flex;
}

@media (max-width: 840px) {
  .included-form .base {
    flex-wrap: wrap;
  }
}

.included-form .base .box-title {
  flex-direction: column;
  display: flex;
}

.included-form .base .box-title .title {
  font-family: var(--font-frank-text);
  color: #0096c7;
  margin-bottom: 10px;
  font-size: 3rem;
}

@media (max-width: 768px) {
  .included-form .base .box-title .title {
    font-size: 2rem;
  }
}

.included-form .base .box-title .description {
  color: #363636;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.3rem;
}

.included-form .base .box-details {
  color: #000;
  flex-direction: column;
  gap: 10px;
  display: flex;
}

@media (max-width: 840px) {
  .included-form .base .box-details {
    width: 100%;
  }
}

.included-form .base .box-details .contact {
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  display: flex;
}

.included-form .base .box-details .contact a {
  color: #3f3f3f;
  align-items: center;
  gap: 10px;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 0;
  font-size: 1.2rem;
  display: flex;
}

.included-form .base .box-details .contact a svg {
  color: #2b2b2b;
  font-size: 23px;
}

.included-form .base .box-details .contact a:hover {
  color: #2d88c5;
  transition: all .3s;
}

.included-form .base .box-details .contact a:hover svg {
  color: #429df3;
  transition: all .3s;
}

/*# sourceMappingURL=src_2745b2f5._.css.map*/