/* [project]/src/styles/formulario.scss.css [app-client] (css) */
.contato-form {
  color: #000;
  width: -moz-fit-content;
  width: fit-content;
  font-family: var(--font-open-sans);
  flex-direction: column;
  gap: 20px;
  display: flex;
}

@media (max-width: 840px) {
  .contato-form {
    width: 100%;
  }
}

.contato-form .box-input {
  gap: 10px;
  display: flex;
}

.contato-form .input {
  flex-direction: column;
  gap: 5px;
  display: flex;
}

@media (max-width: 840px) {
  .contato-form .input {
    width: 100%;
  }
}

.contato-form .input label {
  margin-left: 0;
  font-size: 1rem;
  font-weight: 500;
}

@media (max-width: 840px) {
  .contato-form .input label {
    font-size: .8rem;
  }
}

.contato-form .input input, .contato-form .input select, .contato-form .input textarea {
  border: 1px solid #afafaf;
  border-radius: 5px;
  width: 100%;
  padding: 10px 20px;
  transition: all .3s;
}

@media (max-width: 400px) {
  .contato-form .input input, .contato-form .input select, .contato-form .input textarea {
    font-size: .8rem;
  }
}

.contato-form .input input:focus, .contato-form .input select:focus, .contato-form .input textarea:focus {
  border: 1px solid #747474;
  outline: none;
  transition: all .3s;
}

.contato-form .input select {
  padding: 6.5px 15px;
}

.contato-form .input textarea {
  resize: none;
  width: 100%;
  height: 150px;
  max-height: 150px;
}

.contato-form .btn-submit {
  color: #fff;
  cursor: pointer;
  background-color: #6a0dad;
  border: none;
  border-radius: 5px;
  padding: 15px 20px;
  font-size: 1.1rem;
  font-weight: 500;
  transition: all .3s;
}

.contato-form .btn-submit:hover {
  color: #f4eef6;
  background-color: #8e24aa;
  transition: all .3s;
}

.form-success {
  color: #949494;
  border-radius: 10px;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px 10px;
  font-size: .9em;
  font-weight: 500;
}

.contato-form-included {
  color: #000;
  width: -moz-fit-content;
  width: fit-content;
  font-family: var(--font-open-sans);
  flex-direction: column;
  gap: 20px;
  display: flex;
}

@media (max-width: 840px) {
  .contato-form-included {
    width: 100%;
  }
}

.contato-form-included .box-input {
  gap: 10px;
  display: flex;
}

@media (max-width: 530px) {
  .contato-form-included .box-input {
    flex-direction: column;
  }
}

.contato-form-included .input {
  flex-direction: column;
  gap: 5px;
  display: flex;
}

@media (max-width: 840px) {
  .contato-form-included .input {
    width: 100%;
  }
}

.contato-form-included .input label {
  margin-left: 0;
  font-size: 1rem;
  font-weight: 500;
}

@media (max-width: 840px) {
  .contato-form-included .input label {
    font-size: 1rem;
  }
}

.contato-form-included .input input, .contato-form-included .input select, .contato-form-included .input textarea {
  background-color: #eee;
  border: 1px solid #afafaf;
  border-radius: 5px;
  width: 100%;
  padding: 10px 20px;
  transition: all .3s;
}

@media (max-width: 400px) {
  .contato-form-included .input input, .contato-form-included .input select, .contato-form-included .input textarea {
    font-size: .9rem;
  }
}

.contato-form-included .input input:focus, .contato-form-included .input select:focus, .contato-form-included .input textarea:focus {
  border: 1px solid #747474;
  outline: none;
  transition: all .3s;
}

.contato-form-included .input select {
  padding: 6.5px 15px;
}

.contato-form-included .input textarea {
  resize: none;
  width: 100%;
  height: 150px;
  max-height: 150px;
}

.contato-form-included .btn-submit {
  color: #fff;
  cursor: pointer;
  background-color: #6a0dad;
  border: none;
  border-radius: 5px;
  padding: 15px 20px;
  font-size: 1.1rem;
  font-weight: 500;
  transition: all .3s;
}

.contato-form-included .btn-submit:hover {
  color: #f4eef6;
  background-color: #8e24aa;
  transition: all .3s;
}

/*# sourceMappingURL=src_styles_formulario_scss_css_bad6b30c._.single.css.map*/